<!DOCTYPE html>
<html>
<head>
	<title>COVID-19 Basics</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "/static/styles/covid_19_basics.css">
<link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />


</head>
<body>

<div class="topnav">
	<div class="navbar-header">
		<img class="navbar-brand-logo" src="/static/images/logo.png" alt="Image" height="80" width="80">
		<a class="navbar-brand" href="/">CORONAVIRUS RESOURCE CENTER <p>Presented by Piyush</p></a>	</div>

	<div class="topnav-right"> 
		<a target="_blank" href="https://www.billboard.com/articles/columns/pop/9335531/coronavirus-quarantine-music-events-online-streams">Livestreams & Virtual Concerts</a>
		<a href="/covid_19_basics">COVID-19 Basics</a>
		<a href="/news_information">News & Information</a>
		<a href="/world_covid_map">Maps & Trends</a>
		<a class="active" href="/">Home</a>
	</div>

</div>

<div class= "container" >
<div class = "row">

<div class = "col-md-6">

<a target="_blank" href="https://ipac-canada.org/coronavirus-resources.php">
  <img class = "image" src="/static/images/test_tube.jpg" alt="Image" style="width:400px;height:350px;">
  <h4> <strong> Understanding the COVID-19 </strong> </h4>
	<p> What exactly crona virus is? </p>
</a>
</div>

<div class = "col-md-6">

<a target="_blank" href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection/prevention-risks.html#p">
  <img class = "image" src="/static/images/og_covid19.png" alt="Image" style="width:400px;height:350px;">
  <h4> <strong> Preventing COVID-19 </strong> </h4>
	<p> What all precautions should I take? How do I self-quarantine?</p>
</a>

</div>

</div>

<div class = "row">

<div class = "col-md-6">

<a target="_blank" href="https://www.hss.gov.nt.ca/en/services/coronavirus-disease-covid-19/self-monitoring">
  <img class = "image" src="/static/images/risk.jpg" alt="Image" style="width:400px;height:350px;">
  <h4> <strong> How to Self Monitor? </strong> </h4>
	<p> Monitor for symptoms for 14 days after exposure </p>
</a>

</div>

<div class = "col-md-6">

<a target="_blank" href="https://www.who.int/emergencies/en/">
  <img class = "image" src="/static/images/who_corona_virus.jpg" alt="Image" style="width:400px;height:350px;">
  <h4> <strong> WHO in Emergencies </strong> </h4>
	<p> Steps taken by WHO in pandemic (COVID-19) </p>
</a>
</div>

</div>
</div>

</body>
</html>