<!DOCTYPE html>
<html>
<head>
	<title>World COVID-19 Map</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "/static/styles/world_map.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />


</head>


<body>

<div class="update"> 
    <p>Last updated on {{ date }}</p> at {{ time }} 
</div>

<div class="topnav">
    <div class="navbar-header">
        <img class="navbar-brand-logo" src="/static/images/logo.png" alt="Logo" height="80" width="80">
        <a class="navbar-brand" href="/">CORONAVIRUS RESOURCE CENTER <p>Presented by Piyush</p></a>

    </div>

    <div class="topnav-right"> 
        <a target="_blank" href="https://www.billboard.com/articles/columns/pop/9335531/coronavirus-quarantine-music-events-online-streams">Livestreams & Virtual Concerts</a>
        <a href="/covid_19_basics">COVID-19 Basics</a>
        <a href="/news_information">News & Information</a>
        <a href="/world_covid_map">Maps & Trends</a>
        <a class="active" href="/">Home</a>
    </div>

</div>

<h1> World COVID-19 Map </h1>

<iframe class="map", src="/send_world_covid_map" width="1620" height="775"></iframe>	

</body>
</html>