    html {
        overflow-y: hidden;
    }

    body, html {
      margin: 0;
      font-family: gentona, Tahoma, sans-serif;
    }

    .topnav {
      overflow: hidden;
      background-color: #002d72;
      height: 85px;
    }

    .topnav a:hover {
      color: #F1C400;
    }

    .navbar-brand-logo {
      float:left;
    }

    .navbar-header a {
      color: #f2f2f2;
      padding: 25px 16px;
      text-decoration: none;    
      font-size: 16px;
      font-weight: 560;
    }

    .topnav-right a {
      float: right;
      color: #f2f2f2;
      text-align: center;
      padding: 30px 16px;
      text-decoration: none;    
      font-size: 16px;
      font-weight: 560;
    }

    .update {
      color: white;
      position: absolute;
      right: 2px;
      top: 88px;
      width: 20%;
      border: 3px solid black;
      text-align: center;
      padding: 4px;
      display: inline-block;
      border-radius: 5px;
      animation: blinkingBackground 1s infinite;
    }

@keyframes blinkingBackground{
    0%    { background-color: #FF9900;}
    33%   { background-color: #FF6600;}
    66%   { background-color: #FF3300;}
    100%    { background-color: #FF0000;}
}

    h1{
      text-align: center;
      font-weight: 660;
    }